<a class="btn-primary btn-sm py-1" href="/dashboard" style="border:none;">Back to Books</a>
<br>
<br>
<br>

<div class="card card-body">
    <ul class="list-group">
        <hr>

        <%file.forEach(function(file){%>
            <%if(subject._id==file.subject){%>
                <li class="list-group-item">
                    <a href="/subject/download/<%=file.filename%>" target="_blank">
                        <%=file.filename%>
                    </a>
                </li>
                <%}%>
                    <%})%>

                            <hr>
    </ul>
</div>