 <div class="card">
    <div class="card-header">
Uploads
    </div>
    <div class="card-body">
        <hr>
      <div class="row g-0 py-1">
        <%resource.forEach(function(file){%>
          <li class="list=item-group">
          <a href="${filepath}"><%= file.name%> </a>  
            posted by <span class="text-success"><%= file.postedby%></span></li>
        <%})%>
      </div>
    </div>
 </div>