<%- include('../partials/header.ejs')%>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 py-1 mb-0">
          <form action="/subject/add" method="post">
            <p class="lead">Add Subject</p>
            <input type="text" name="subject" id="subject" required placeholder="Add Subject"
              class="form-control form-control-sm py-1">
            <br>
            <button class="btn  btn-outline-danger btn-sm py-1" type="submit"
              style="border-radius: 18px;" required>Add</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col md-12">
          <%- include('../partials/lib/bookchip.ejs')%>
        </div>
      </div>
    </div>
    <br>

  </body>

  <%- include('../partials/footer.ejs')%>
