<%- include('../partials/header.ejs')%>
    <main>
        <section>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-8">
                        <b>
                            <p class="lead h6">Add School</p>
                        </b>
                        <hr class="col-md-8">
                        <div class="row ">
                            <form action="/school" method="POST">
                                <!-- school category -->
                                <div class="row col-md-8">
                                    <div class="input-group">
                                        <input type="text" name="schoolName" id="schoolName"
                                            class="form-control form-control-sm" placeholder="School Name" required>
                                    </div>
                                </div>
                                <br>
                                <!-- school location -->
                                <div class="row col-md-8">
                                    <div class="input-group">
                                        <input type="text" name="location" id="location"
                                            class="form-control form-control-sm" placeholder="School Location" required>
                                    </div>
                                </div>
                                <br>
                                <!-- school category -->
                                <div class="row col-md-8">
                                    <fieldset class="form-group ">
                                        <select class="form-control form-control-sm" name="category" id="category"
                                            required>
                                            <option value="-1">--Select Category--</option>
                                            <option value="Boys">Boys School</option>
                                            <option value="Girls">Girls School</option>
                                            <option value="Mixed">Mixed School</option>
                                        </select>
                                    </fieldset>
                                </div>
                                <br>
                                <!-- schooll description -->
                                <div class="row col-md-8">
                                    <div class="form-group">
                                        <textarea name="description" id="description" cols="30" rows="4"
                                            class="form-control form-control-sm outline-dark"
                                            placeholder="School Description" required></textarea>
                                    </div>
                                </div>
                                <!-- Decision -->
                                <br>
                                <div class="row">
                                    <div class="col-md-8">
                                        <i><input type="submit" value="Add"
                                                class="btn btn-primary  btn-sm col-md-2 py-1"></i>
                                        <a href="/dashboard" class="btn btn-danger  btn-sm col-md-2 py-1">Cancel</a>
                                    </div>
                                </div>
                                <hr class="col-md-8">
                            </form>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <!-- empty -->
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs')%>